.boutique-body{
	
	margin-right: 15px;
	margin-left: 15px;
	
}
.boutique_table{
	
	margin-left: 15%;
	margin-right: 15%;
	
}
.boutique_inscripiton{
	
	margin-left: 15%;
	margin-right: 15%;
	
}
.boutique_connexion{
	
	margin-left: 25%;
	margin-right: 25%;
	
}

.boutique_recup{
	
	margin-left: 25%;
	margin-right: 25%;
	
}

.boutique_info_client{
	
	margin-left: 25%;
	margin-right: 25%;
	
}

.boutique_voir{
	
	margin-left: 10%;
	margin-right: 10%;
	
}

.boutique_supprimer_compte{
	
	margin-top: 20%;
	margin-left: 20%;
	margin-right: 20%;
	
}
